@page "/faq"

<PageTitle>FAQ</PageTitle>

<h3>Frequently Asked Questions</h3>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            1. How is the annual rate of return determined?

            <P></P>
            The annual rate of return is based on the historical S&P 500 Index. Since its inception in 1926,
            the S&P 500 index has an annualized rate of return of 10.49%. In the last sixty years, the annualized
            rate of return between 1957 to December 2021 is 10.67%.
            <P></P>
            You can invest in either of the index funds to capture the S&P 500 performance.
            <li><a href="https://investor.vanguard.com/investment-products/mutual-funds/profile/vtsax" target="_blank">Vanguard Total Stock Market Index Fund Admiral Shares (VTSAX)</a></li>
            <li><a href="https://fundresearch.fidelity.com/mutual-funds/summary/315911750" target="_blank">Fidelity® 500 Index Fund (FXAIX)</a></li>

        </div>

        <div class="form-group">
            2. FAQ 2?

            <P></P>
            Answer 2

        </div>

        <div class="form-group">
            3. FAQ 3?

            <P></P>
            Answer 3
            
        </div>

        <div class="form-group">
            4. FAQ 4?

            <P></P>
            Answer 4
            
        </div>

        <div class="form-group">
            5. FAQ 5?

            <P></P>
            Answer 5
            
        </div>

    </div>
</div>



