@page "/retirement-account-forecast"

<PageTitle>Retirement Account Forecast</PageTitle>

<h3>Your Retirement Account Forecast</h3>

<p>@LeadingMessage</p>

@if (PortfolioForecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Your Age</th>
                <th>Present Value</th>
                <th>Future Value</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in PortfolioForecasts)
            {
                <tr>
                    <td>@forecast.Age</td>
                    <td>@forecast.PresentValue.ToUSDollar()</td>
                    <td>@forecast.FutureValue.ToUSDollar()</td>
                </tr>
            }
        </tbody>
    </table>
}
